body{
    margin: 0;
    background-color: var(--BG-Color-MainView);
    transition: var(--Element-Transition-Delay);
}
/* Applicable attributes */
*[Rounded = "1"]{
    border-radius: var(--Radius-Level-1);
}

*[Rounded = "2"]{
    border-radius: var(--Radius-Level-2);
}

*[Rounded = "3"]{
    border-radius: var(--Radius-Level-3);
}

*[Rounded = "4"]{
    border-radius: var(--Radius-Level-4);
}

*[Rounded = "5"]{
    border-radius: var(--Radius-Level-5);
}

*[Flex_Center = "Both"]{
    display: flex;
    justify-content: center;
    align-items: center;
}

*[Flex_Center = "Horizontal"]{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

*[Flex_Center = "Vertical"]{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

*[Fit = "Cover"]{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

*[Fit = "Contain"]{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

*[Display = "none"]{
    display: none;
}

*[Existence = "Nonexistent"]{
    opacity: 0%;
    pointer-events: none;
}

*[Existence = "Existent"]{
    opacity: 100%;
    pointer-events: all;
}
/* Element defaults */
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    user-select: none;
    color: var(--Text-Color);
}

button{
    background-color: unset;
    border: unset;
    outline: unset;
    padding: unset;
}

button:hover{
    cursor: pointer;
    background-color: var(--BG-Color-Button-General-Hover);
}

*{
    transition: var(--Element-Transition-Delay);
}

/*  */
ui-screen[Cover]{
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-color: green; */
}

ui-loading{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--BG-Color-LoadingScreen);
}

ui-loading[Type="Splash"], ui-loading[Type="Icon"]{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
}

.Loading_Splash_Window{
    max-width: 700px;
    width: calc(100% - 40px);
    height: 400px;
    overflow: hidden;
    transform: translateY(-80px);
}

.Loading_Icon_Image{
    width: 125px;
    transform: translateY(-90px);
}

.Loading_Title{
    margin-top: 20px;
    transform: translateY(-80px);
}

.Loading_Title_Text{
    font-family: var(--Text-Font-Primary);
    text-align: center;
}

.Loading_Copyright{
    position: absolute;
    bottom: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.Loading_Copyright_Image{
    height: 30px;
}

.Loading_Copyright_Text{
    font-family: var(--Text-Font-Secondary);
}

/* Header */
ui-header{
    width: 100%;
    height: 40px;
    position: fixed;
    background-color: var(--BG-Color-Overlay-Header);
    display: grid;
    grid-template-columns: auto 1fr auto;
    
}

header-navigator{
    height: 40px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding-right: 10px;
}

header-navigator > img{
    height: 26px;
    padding: 7px;
    padding-left: 10px;
}

header-navigator > h3{
    font-family: var(--Text-Font-Primary);
}

header-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

header-content > h3{
    font-family: var(--Text-Font-Primary);
}

header-status{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 7px;
    padding-right: 10px;
}

header-status > *{
    font-family: var(--Text-Font-Secondary);
}