@font-face {
	font-family: "Roboto";
	src: url('../../Assets/Fonts/Roboto-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Alexandria";
	src: url("../../Assets/Fonts/Alexandria-VariableFont_wght.ttf") format("truetype");
	font-weight: normal;
}

:root{
    /* Default values for elements changed by settings at onload */
    --BG-Img-Wallpaper-Main: url(../../Assets/Backgrounds/Wallpaper_Main.png);
	--BG-Img-Wallpaper-Clock: url(../../Assets/Backgrounds/Clock_Screen.png);
    --BG-Img-Wallpaper-Loading: url(../../Assets/Backgrounds/Splash.png);
	--BG-Img-Splash: url(../../Assets/Backgrounds/Splash.png);
	--BG-Img-Wallpaper-Main-Blur: 20px;
	--BG-Img-Wallpaper-Main-Darken: 40%;
	--BG-Img-Wallpaper-Main-Opacity: 60%;
    /* General values */
	--BG-Color-LoadingScreen: black;
	--Element-BackdropBlur: blur(10px);
	/* --Debug-ElementOutline: none; */
	--Debug-ElementOutline: var(--Accent-Color);
	--Panel-Navigation-Rail-Width: 50px;
	--Panel-Navigation-Rail-Width-Expanded: 150px;
	--Panel-Navigation-Bottom-Height: 70px;
	--Panel-Left-Width-Expanded: 300px;
	--Panel-Left-Width-Collapsed: 50px;
	--Panel-Right-Width-Expanded: 300px;
	--Panel-Right-Width-Collapsed: 50px;
	--Panel-Center-Padding-Top: 25px;
	--Panel-Center-Padding-Bottom: 25px;
	--Panel-Center-Padding-Left: 15%;
	--Panel-Center-Padding-Right: 15%;
	--Element-Transition-Delay: 0.4s;
	--Element-Animation-Duration: 0.5s;
	--Element-BoxShadow: 0cm 0cm 0.1cm 0.1cm rgba( 0, 0, 0, 0.1); 
	--Element-BoxShadow-Hover: 0cm 0cm 0.1cm 0.1cm rgba( 0, 0, 0, 0.1); 
	--Text-Font-Primary: Alexandria, "Trebuchet MS", "Arial";
	--Text-Font-Secondary: Roboto, "Arial", "Helvetica";
	--Text-Font-Numbers: Alexandria, "Arial", "Helvetica";
	--Accent-Color: #654aff;
	--Accent-Color-Hover: #5537ff;
	--Accent-Color-Focus: #4625ff;
	--Accent-Color-Active: #3b20d4;
    --Element-Border-Width: 2px;
    --Element-Outline-Width: var(--Element-Border-Width);
}

body[Theme = "Dark"]{
    
	/* --BG-Img-Wallpaper-Main-Blur: 20px; */
	/* --BG-Img-Wallpaper-Main-Opacity: 100%; */
	
	/* --Element-BoxShadow-Hover: 0cm 0cm 0.28218705792108cm 0.03527338224013cm  var(--Accent-Color-Hover);  */
	--Element-Icon-Brightness: brightness(1);

	--BG-Color-Opacitated: rgba(28, 28, 28, 0.50);

	
	--Text-Color: white;
	
	

	--BG-Color-Scrollbar: transparent;
	--BG-Color-Scrollbar-Thumb: var(--Accent-Color);
	--BG-Color-Scrollbar-Thumb-Hover: var(--Accent-Color-Hover);
	--BG-Color-Selection: var(--Accent-Color);

	--BG-Color-General: #171010;
	--BG-Color-General-Menus: #202020;

	--BG-Color-MainView: #1d1d1f;

	--BG-Color-LoadingScreen: #15151e;
	--BG-Color-LoadingScreen-Splash-NameSpace: #303030;
	--BG-Color-LoadingScreen-Splash-Loader: #1f1e1e;
	
	--BG-Color-Hover: #3b3b3b;
	--BG-Color-Focus: #2f2f2f;

	--BG-Color-Overlay-Header: #161616;
	--BG-Color-Overlay-Sidebar: #161616;
	--BG-Color-Overlay-Ribbon: #161616;
	--BG-Color-Overlay-CornerButtons: var(--Accent-Color);
	--BG-Color-Overlay-CornerButtons-Hover: var(--Accent-Color-Hover);

	/* Primary buttons */
	--BG-Color-Button-Primary: var(--Accent-Color);
	--BG-Color-Button-Primary-Text: #222222;
	--BG-Color-Button-Primary-Border: #947cff;

	--BG-Color-Button-Primary-Hover: var(--Accent-Color-Hover);
	--BG-Color-Button-Primary-Text-Hover: #222222;
	--BG-Color-Button-Primary-Border-Hover: #775fff;

	--BG-Color-Button-Primary-Focus: var(--Accent-Color-Focus);
	--BG-Color-Button-Primary-Text-Focus: #222222;
	--BG-Color-Button-Primary-Border-Focus: #6a50ff;

	--BG-Color-Button-Primary-Active: var(--Accent-Color-Active);
	--BG-Color-Button-Primary-Text-Active: #222222;
	--BG-Color-Button-Primary-Border-Active: #6a50ff;

	/* Secondary */
	--BG-Color-Button-Secondary: #1b1a1a;
	--BG-Color-Button-Secondary: #2f2f2f;
	--BG-Color-Button-Secondary-Text: #ffffff;

	--BG-Color-Button-Secondary-Border: #3c3a3a;

	--BG-Color-Button-Secondary-Hover: var(--BG-Color-Hover);
	--BG-Color-Button-Secondary-Text-Hover: #ffffff;
	--BG-Color-Button-Secondary-Border-Hover: #4d4d4d;

	--BG-Color-Button-Secondary-Focus: var(--BG-Color-Hover);
	--BG-Color-Button-Secondary-Text-Focus: #ffffff;
	--BG-Color-Button-Secondary-Border-Focus: var(--Accent-Color-Focus);

	--BG-Color-Button-Secondary-Active: #242424;
	--BG-Color-Button-Secondary-Text-Active: #ffffff;
	--BG-Color-Button-Secondary-Border-Active: var(--Accent-Color-Active);

	/* Dependent on values above */
	--BG-Color-Button-General: var(--BG-Color-Button-Secondary);
	--BG-Color-Button-General-Text: white;
	--BG-Color-Button-General-Hover: var(--BG-Color-Hover);
	--BG-Color-Button-General-Focus: var(--BG-Color-Focus);
	--BG-Color-Button-General-Accent: #242424;
	--BG-Color-Button-General-Accent-Hover: #3c3a3a;
	--BG-Color-Button-General-Accent-Focus: var(--Color-Borders-Focus);
	--BG-Color-Button-ToggleIndicator-Activated: var(--Accent-Color); 
	--BG-Color-Button-ToggleIndicator-Deactivated: var(--BG-Color-Button-General); 
	--BG-Color-Button-Dropdown: var(--BG-Color-Button-General); 
	--BG-Color-Button-Dropdown-Hover: var(--BG-Color-Button-General-Hover);
	--BG-Color-Button-Dropdown-Active: rgb(54, 54, 54);
	--BG-Color-Button-Dropdown-Accent: var(--Accent-Color);
	--BG-Color-Button-Dropdown-Accent-Hover: var(--Accent-Color-Hover);
	--BG-Color-Button-Dropdown-Accent-Active: var(--Accent-Color-Focus);
	--BG-Color-Button-Dropdown-List: var(--BG-Color-Button-General);
	--BG-Color-Button-Dropdown-List-Item-Hover: #282830;
	--BG-Color-Subwindows: #1a1a1a;
	--BG-Color-Input: var(--BG-Color-Button-General);
	--BG-Color-Input-Hover: var(--BG-Color-Button-General-Hover);
	--BG-Color-Input-Focus: var(--BG-Color-Button-General-Focus);
	--BG-Color-Input-Accent: var(--Accent-Color);
	--BG-Color-Input-Accent-Hover: var(--Accent-Color-Hover);
	--BG-Color-Input-Accent-Focus: var(--Accent-Color-Active);
	--Color-Dividers: #303030;
	--Color-Borders: var(--Color-Dividers);
	--Color-Borders-Hover: var(--Accent-Color-Hover);
	--Color-Borders-Focus: var(--Accent-Color-Focus);
}

body[Theme = "Light"]{
    /* --Debug-ElementOutline: none; */
	
	/* --BG-Img-Wallpaper-Main-Darken: 100%; */
	/* --BG-Img-Wallpaper-Main-Opacity: 60%; */
	
	/* --Element-BoxShadow-Hover: 0cm 0cm 0.28218705792108cm 0.03527338224013cm  var(--Accent-Color-Hover);  */
	--Element-Icon-Brightness: brightness(0);
	/* --Element-BackdropBlur: blur(10px); */
	

	--BG-Color-Opacitated: rgba(255, 255, 255, 0.5);

	
	--Text-Color: #303030;
	
	

	--BG-Color-Scrollbar: transparent;
	--BG-Color-Scrollbar-Thumb: var(--Accent-Color);
	--BG-Color-Scrollbar-Thumb-Hover: var(--Accent-Color-Hover);
	--BG-Color-Selection: var(--Accent-Color);

	--BG-Color-General: #f1f1f1;
	--BG-Color-General-Menus: #dddcdc;

	--BG-Color-MainView: #f7f7f7;

	--BG-Color-LoadingScreen: #ebebeb;
	--BG-Color-LoadingScreen-Splash-NameSpace: #ebebeb;
	--BG-Color-LoadingScreen-Splash-Loader: #ebebeb;
	
	--BG-Color-Hover: #c9c9c9;
	--BG-Color-Focus: #c5c5c5;

	--BG-Color-Overlay-Header: #dddcdc;
	--BG-Color-Overlay-Sidebar: #dddcdc;
	--BG-Color-Overlay-Ribbon: #dddcdc;
	--BG-Color-Overlay-CornerButtons: var(--Accent-Color);
	--BG-Color-Overlay-CornerButtons-Hover: var(--Accent-Color-Hover);

	/* Primary buttons */
	--BG-Color-Button-Primary: var(--Accent-Color);
	--BG-Color-Button-Primary-Text: #303030;
	--BG-Color-Button-Primary-Border-Primary: #9683fc;
	--BG-Color-Button-Primary-Border-Secondary: #664bff;

	--BG-Color-Button-Primary-Hover: var(--Accent-Color-Hover);
	--BG-Color-Button-Primary-Text-Hover: #303030;
	--BG-Color-Button-Primary-Border-Primary-Hover: #775fff;
	--BG-Color-Button-Primary-Border-Secondary-Hover: #664bff;

	--BG-Color-Button-Primary-Focus: var(--Accent-Color-Focus);
	--BG-Color-Button-Primary-Text-Focus: #303030;
	--BG-Color-Button-Primary-Border-Primary-Focus: #6a50ff;
	--BG-Color-Button-Primary-Border-Secondary-Focus: #5739ff;

	/* Secondary */
	--BG-Color-Button-Secondary: #dadada;
	--BG-Color-Button-Secondary-Text: #303030;
	--BG-Color-Button-Secondary-Border-Primary: #cecece;
	--BG-Color-Button-Secondary-Border-Secondary: #cecece;

	--BG-Color-Button-Secondary-Hover: var(--BG-Color-Hover);
	--BG-Color-Button-Secondary-Text-Hover: #303030;
	--BG-Color-Button-Secondary-Border-Primary-Hover: #bbbbbb;
	--BG-Color-Button-Secondary-Border-Secondary-Hover: #bbbbbb;

	--BG-Color-Button-Secondary-Focus: #bdbdbd;
	--BG-Color-Button-Secondary-Text-Focus: #303030;
	--BG-Color-Button-Secondary-Border-Primary-Focus: #999999;
	--BG-Color-Button-Secondary-Border-Secondary-Focus: #999999;

	/* Dependent on values above */
	--BG-Color-Button-General: var(--BG-Color-Button-Secondary);
	--BG-Color-Button-General-Text: white;
	--BG-Color-Button-General-Hover: var(--BG-Color-Hover);
	--BG-Color-Button-General-Focus: var(--BG-Color-Focus);
	--BG-Color-Button-General-Accent: #cccccc;
	--BG-Color-Button-General-Accent-Hover: #b8b8b8;
	--BG-Color-Button-General-Accent-Focus: var(--Color-Borders-Focus);
	--BG-Color-Button-ToggleIndicator-Activated: var(--Accent-Color); 
	--BG-Color-Button-ToggleIndicator-Deactivated: var(--BG-Color-Button-General); 
	--BG-Color-Button-Dropdown: var(--BG-Color-Button-General); 
	--BG-Color-Button-Dropdown-Hover: var(--BG-Color-Button-General-Hover);
	--BG-Color-Button-Dropdown-Active: rgb(54, 54, 54);
	--BG-Color-Button-Dropdown-Accent: var(--Accent-Color);
	--BG-Color-Button-Dropdown-Accent-Hover: var(--Accent-Color-Hover);
	--BG-Color-Button-Dropdown-Accent-Active: var(--Accent-Color-Focus);
	--BG-Color-Button-Dropdown-List: var(--BG-Color-Button-General);
	--BG-Color-Button-Dropdown-List-Item-Hover: #282830;
	--BG-Color-Subwindows: #dbdbdb;
	--BG-Color-Input: var(--BG-Color-Button-General);
	--BG-Color-Input-Hover: var(--BG-Color-Button-General-Hover);
	--BG-Color-Input-Focus: var(--BG-Color-Button-General-Focus);
	--BG-Color-Input-Accent: var(--Accent-Color);
	--BG-Color-Input-Accent-Hover: var(--Accent-Color-Hover);
	--BG-Color-Input-Accent-Focus: var(--Accent-Color-Active);
	--Color-Dividers: #b6b6b6;
	--Color-Borders: var(--Color-Dividers);
	--Color-Borders-Hover: var(--Accent-Color-Hover);
	--Color-Borders-Focus: var(--Accent-Color-Focus);
}